.edit-form {
  &__image-input {
  position: relative;
  }

  &__image-input input {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
  }

  &__form-actions {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
  }
}
